@import '~antd/es/style/themes/default.less'; // 这里面定义了很多颜色，方便取用

.registerContainer{
    // 图像元素：
    // background-image: url("https://cdn.pixabay.com/photo/2020/08/27/00/32/bridge-5520899_1280.jpg");
    background-image: url("../../imgs/background2.png");
    background-repeat: repeat;
    background-size: 100% auto; //图像的宽高相对于父容器的值
    height: 100%; //继承App中的height（100vh）
    // 居中Form
    display: flex; //用flex来居中子元素
    align-items: center;
    justify-content: center;
    .Register{
        width: 40rem;
    }
}